* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

main {
  padding: 2rem;
  background-color: black;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  background-color: black;
  z-index: 10;
}
nav .mrgn-right {
  margin-right: auto;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav div {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  height: 100%;
}

@media (min-width: 480px) {
  nav div {
    flex-grow: 0;
    width: 70%;
  }
  nav a {
    padding: 0 2rem;
  }
}
.about .animating-skills .rotation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.about .animating-skills .pentagon {
  position: relative;
  margin: auto;
  width: 250px;
  height: 250px;
  top: -150%;
  transform: perspective(400px) rotateY(0deg) rotateX(90deg);
  transform-style: preserve-3d;
  animation: RotateParent3D 10s linear infinite;
}
.about .animating-skills .pentagon div {
  position: absolute;
  transform: rotateX(-90deg) rotateY(0deg) translateY(100%);
  animation: RotateChild3D 10s linear infinite;
}
.about .animating-skills .pentagon div img {
  display: block;
  margin: 0 auto;
  max-height: 40px;
  max-width: 40px;
}
.about .animating-skills .pentagon div h3 {
  /* background-color: $dark; */
  font-weight: bold;
  box-shadow: 0 0 50px black;
}
.about .animating-skills .pentagon div:nth-child(1) {
  left: 40%;
  top: -10%;
}
.about .animating-skills .pentagon div:nth-child(2) {
  left: 82%;
  top: 26%;
}
.about .animating-skills .pentagon div:nth-child(3) {
  left: 66%;
  top: 90%;
}
.about .animating-skills .pentagon div:nth-child(4) {
  left: 19%;
  top: 90%;
}
.about .animating-skills .pentagon div:nth-child(5) {
  left: -18%;
  top: 26%;
}
@keyframes RotateParent3D {
  0% {
    transform: perspective(400px) rotateY(0deg) rotateX(90deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg) rotateX(90deg);
  }
}
@keyframes RotateChild3D {
  0% {
    transform: rotateX(-90deg) rotateY(0deg) translateY(100%);
  }
  /* 50%{
      transform: rotateY(-180deg) rotateX(-90deg);
  } */
  100% {
    transform: rotateX(-90deg) rotateY(-360deg) translateY(100%);
  }
}

@media (min-width: 480px) {
  .about .animating-skills .pentagon {
    width: 400px;
    height: 400px;
    top: -240%;
  }
  .about .animating-skills .pentagon div:nth-child(1) {
    left: 45%;
    top: -6%;
  }
  .about .animating-skills .pentagon div:nth-child(2) {
    left: 88%;
    top: 32%;
  }
  .about .animating-skills .pentagon div:nth-child(3) {
    left: 66%;
    top: 93%;
  }
  .about .animating-skills .pentagon div:nth-child(4) {
    left: 19%;
    top: 93%;
  }
  .about .animating-skills .pentagon div:nth-child(5) {
    left: -11%;
    top: 32%;
  }

  @keyframes RotateParent3D {
    0% {
      transform: perspective(500px) rotateY(0deg) rotateX(90deg);
    }
    100% {
      transform: perspective(500px) rotateY(360deg) rotateX(90deg);
    }
  }
}
@media (min-width: 1024px) {
  @keyframes RotateParent3D {
    0% {
      transform: perspective(700px) rotateY(0deg) rotateX(90deg);
    }
    100% {
      transform: perspective(700px) rotateY(360deg) rotateX(90deg);
    }
  }
  .about .animating-skills .pentagon {
    width: 800px;
    height: 800px;
    top: -415%;
  }
  .about .animating-skills .pentagon div:nth-child(1) {
    left: 48%;
    top: -3%;
  }
  .about .animating-skills .pentagon div:nth-child(2) {
    left: 94%;
    top: 32%;
  }
  .about .animating-skills .pentagon div:nth-child(3) {
    left: 72%;
    top: 96%;
  }
  .about .animating-skills .pentagon div:nth-child(4) {
    left: 19%;
    top: 96%;
  }
  .about .animating-skills .pentagon div:nth-child(5) {
    left: -5%;
    top: 32%;
  }
}
/* clip-path: polygon(50% 0%, 
        100% 38%, 
        82% 100%, 
        18% 100%, 
        0% 38%); */
.projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 90vh;
}
.projects .project-card {
  width: 100%;
  border: 2px solid coral;
  border-radius: 5px;
  margin: 4rem 0;
}
.projects .project-card a {
  color: white;
  text-decoration: none;
}
.projects .project-card a:hover img {
  opacity: 0.7;
}
.projects .project-card a:hover h3 {
  color: coral;
}
.projects .project-card img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  transition: all 0.3s;
}
.projects .project-card h3 {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  transition: all 0.4s;
}
.projects .project-card p {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 480px) {
  .projects {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .projects .project-card {
    width: 45%;
  }
  .projects .project-card h3 {
    font-size: 3rem;
  }
  .projects .project-card p {
    font-size: 2rem;
  }
}
.contact {
  display: grid;
  grid-template-areas: "intro" "form" "details";
}
.contact .contact-intro {
  grid-area: intro;
}
.contact .contact-intro h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.contact .contact-intro p {
  margin-bottom: 4rem;
}
.contact .contact-form {
  grid-area: form;
}
.contact .contact-form form {
  border: 4px solid coral;
  border-radius: 15px;
  padding: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
}
.contact .contact-form form div {
  display: flex;
  justify-content: center;
}
.contact .contact-form form div::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: white;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(0deg);
}
.contact .contact-form form div::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: white;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(180deg);
}
.contact .contact-form form div input:not(.btn), .contact .contact-form form div textarea {
  padding: 0 1rem;
  width: calc(100% - 4rem);
  height: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.contact .contact-form form div input:not(.btn)::placeholder, .contact .contact-form form div textarea::placeholder {
  color: white;
  opacity: 0.8;
}
.contact .contact-form form div input:not(.btn):focus, .contact .contact-form form div textarea:focus {
  border: 2px solid coral;
  outline: none;
  box-shadow: 0 0 8px coral;
}
.contact .contact-form form div textarea {
  height: 8rem;
  width: calc(100% - 4rem);
  resize: none;
  padding: 1rem;
}
.contact .contact-form form .last::before {
  content: "";
  /* @include CodeArrow($left, 4rem); */
  transform: translateY(150%);
}
.contact .contact-form form .last::after {
  content: "";
  /* @include CodeArrow($right, 4rem); */
  transform: translateY(150%) rotate(180deg);
}
.contact .contact-form form label {
  display: block;
  margin: 0.5rem 0;
  text-align: center;
}
.contact .contact-form form input[type=submit] {
  display: block;
  margin: 1rem auto;
}
.contact .contact-details {
  grid-area: details;
  margin: 4rem 0;
}
.contact .contact-details address {
  text-align: center;
}

footer {
  height: 30vh;
  padding: 2rem;
}
footer a {
  color: coral;
  font-size: 3rem;
}
footer .mf-logo {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
footer .social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
