* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

@font-face {
  font-family: "futura bold";
  src: url(./../fonts/futura/Futura-Bold.ttf);
}
@font-face {
  font-family: "cutive mono";
  src: url(./../fonts/cutive-mono/CutiveMono-Regular.ttf);
}
body {
  font-size: 1.6rem;
  font-family: "cutive mono", Courier, monospace;
  color: white;
  background-color: #171222;
}

.btn {
  /* height: 3rem; */
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #d86b32;
  border-radius: 5rem;
  color: white;
  font-family: "futura bold";
  font-size: 1.1rem;
  transition: all 0.25s;
}
.btn:focus {
  box-shadow: 0 0 20px white;
  outline: none;
}
.btn:hover, .btn:active {
  box-shadow: 0 0 20px #d86b32;
  background-color: #171222;
}

main {
  padding: 3rem;
  background-color: #171222;
}

h1, h2, h3, h4, label, .btn {
  font-family: "futura bold";
}

h2 {
  font-size: 3rem;
}

.home {
  background-image: url("../img/Skizze.png");
  background-size: 400px auto;
  background-repeat: no-repeat;
  background-position: 55px 60px;
}
.home .btn {
  margin: 4rem 0;
  max-width: 70%;
}

.header-home {
  padding: 6rem 0 0 3rem;
}
.header-home h2 {
  margin-bottom: 2.5rem;
  width: 50%;
  font-size: 3.5rem;
}
.header-home h1 {
  width: 50%;
  font-size: 1.7rem;
}
.header-home strong {
  color: #d86b32;
}

.main-home {
  padding-left: 3rem;
  background-color: unset;
}
.main-home h3 {
  width: 50%;
  font-size: 1.5rem;
}
.main-home .toolbox {
  position: relative;
  margin-top: 3rem;
}
.main-home .toolbox > img {
  width: 200px;
}
.main-home .toolbox .box {
  display: none;
  position: absolute;
  width: 800px;
  height: 250px;
  bottom: 9px;
  left: 0%;
}
.main-home .toolbox .box .wall {
  position: relative;
  width: calc(100% - 60px);
  height: 100%;
  left: 30px;
}
.main-home .toolbox .box .wall .wall-paint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #171222;
  border-top: 2px solid white;
  z-index: 3;
}
.main-home .toolbox .box .wall .tools {
  /* position: absolute;
  top: 0;
  left: 0;
  width: inherit; */
  position: relative;
  height: inherit;
}
.main-home .toolbox .box .wall .tools div {
  position: absolute;
  top: -25%;
  z-index: 2;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; */
}
.main-home .toolbox .box .wall .tools div img {
  display: block;
  width: 80px;
  height: auto;
  margin: 0 auto 1rem;
}
.main-home .toolbox .box .wall .tools div h3 {
  width: 100%;
  text-align: center;
}
.main-home .toolbox .box .wall .tools #html {
  left: 3%;
}
.main-home .toolbox .box .wall .tools #js {
  left: 17%;
}
.main-home .toolbox .box .wall .tools #scss {
  left: 46%;
}
.main-home .toolbox .box .wall .tools #css {
  left: 68%;
}
.main-home .toolbox .box .wall .tools #bootstrap {
  left: 79%;
}

@media (min-width: 319px) {
  .home {
    background-size: 325px auto;
    background-position: 135px 60px;
  }
  .home .main-home, .home .header-home {
    padding-left: 6rem;
  }
  .home h1, .home h2, .home h3 {
    max-width: 50%;
  }
}
@media (min-width: 480px) {
  .home {
    background-size: 85% auto;
    background-position: 240% 60px;
    /* h1, h2, h3{
        max-width: 50%;
    } */
  }
  .home h3 {
    font-size: 2rem;
  }
  .home .header-home {
    padding-top: 12rem;
  }
  .home .header-home h2 {
    font-size: 4rem;
  }
  .home .header-home h1 {
    font-size: 2.2rem;
  }
  .home .btn {
    margin: 5rem 0;
    max-width: 58%;
  }
  .home .main-home .toolbox {
    display: block;
    margin: 6rem 0 0 4rem;
  }
  .home .main-home .toolbox > img {
    width: 300px;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
@media (min-width: 768px) {
  .home {
    background-size: 90% auto;
    background-position: 300% 110px;
  }
  .home .main-home, .home .header-home {
    padding-left: 9rem;
  }
  .home h3 {
    font-size: 2.5rem;
  }
  .home h2 {
    max-width: 45%;
  }
  .home h1, .home h3 {
    max-width: 35%;
  }
  .home .header-home h2 {
    font-size: 6rem;
  }
  .home .header-home h1 {
    font-size: 3rem;
  }
  .home .main-home .toolbox {
    display: block;
    margin: 6rem 0 0 4rem;
  }
  .home .main-home .toolbox > img {
    width: 400px;
  }

  .btn {
    font-size: 2rem;
  }

  h2 {
    font-size: 4rem;
  }

  main {
    padding: 4rem;
  }
}
@media (min-width: 1024px) {
  .home {
    background-size: 75% auto;
    background-position: 145% 110px;
    /* h1, h2, h3{
        max-width: 50%;
    } */
    /* h2{
        max-width: 45%;
    }
    h1, h3{
        max-width: 35%;
    } */
  }
  .home .main-home, .home .header-home {
    padding-left: 11rem;
  }
  .home .header-home {
    padding-top: 15rem;
  }
  .home .header-home h2 {
    font-size: 8rem;
    margin-bottom: 4rem;
  }
  .home .header-home h1 {
    font-size: 4rem;
  }
  .home .btn {
    margin: 8rem 0;
    max-width: 40%;
  }
  .home h3 {
    font-size: 3rem;
  }
  .home .main-home .toolbox {
    display: block;
    margin: 6rem 0 0 4rem;
  }
  .home .main-home .toolbox > img {
    width: 600px;
  }

  .btn {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }

  h2 {
    font-size: 5rem;
  }

  main {
    padding: 6rem;
  }
}
@media (min-width: 1280px) {
  .home {
    background-size: 63% auto;
    background-position: 130% 110px;
    /* h1, h2, h3{
        max-width: 50%;
    } */
  }
  .home .main-home, .home .header-home {
    padding-left: 14rem;
  }
  .home .header-home {
    padding-top: 26rem;
  }
  .home .header-home h2 {
    font-size: 10rem;
  }
  .home .btn {
    margin: 11rem 0;
  }
  .home .main-home .toolbox {
    display: block;
    margin: 6rem 0 0 4rem;
  }
  .home .main-home .toolbox > img {
    width: 800px;
  }
  .home .main-home .toolbox .box {
    display: block;
    position: absolute;
    width: 800px;
    height: 250px;
    bottom: 9px;
    left: 0%;
  }
  .home .main-home .toolbox .box .wall {
    position: relative;
    width: calc(100% - 60px);
    height: 100%;
    left: 30px;
  }
  .home .main-home .toolbox .box .wall .wall-paint {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #171222;
    border-top: 2px solid white;
    z-index: 3;
  }
  .home .main-home .toolbox .box .wall .tools {
    /* position: absolute;
    top: 0;
    left: 0;
    width: inherit; */
    position: relative;
    height: inherit;
    animation: name duration timing-function delay iteration-count direction fill-mode;
  }
  .home .main-home .toolbox .box .wall .tools div {
    position: absolute;
    top: -25%;
    z-index: 2;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; */
  }
  .home .main-home .toolbox .box .wall .tools div img {
    display: block;
    width: 80px;
    height: auto;
    margin: 0 auto 1rem;
  }
  .home .main-home .toolbox .box .wall .tools div h3 {
    width: 100%;
    text-align: center;
  }
  .home .main-home .toolbox .box .wall .tools #html {
    left: 3%;
    animation: moveTool 2s linear alternate-reverse infinite;
  }
  .home .main-home .toolbox .box .wall .tools #js {
    left: 17%;
    animation: moveTool 2s 2s linear alternate-reverse infinite;
  }
  .home .main-home .toolbox .box .wall .tools #scss {
    left: 46%;
    animation: moveTool 2s 4s linear alternate-reverse infinite;
  }
  .home .main-home .toolbox .box .wall .tools #css {
    left: 68%;
    animation: moveTool 2s 6s linear alternate-reverse infinite;
  }
  .home .main-home .toolbox .box .wall .tools #bootstrap {
    left: 79%;
    animation: moveTool 2s 8s linear alternate-reverse infinite;
  }

  .btn {
    font-size: 3rem;
  }

  main {
    padding: 8rem;
  }

  h2 {
    font-size: 7rem;
  }
}
@keyframes moveTool {
  0% {
    top: -25%;
  }
  50% {
    top: -75%;
  }
  100% {
    top: -25%;
  }
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #171222;
  z-index: 10;
}
nav .logo {
  height: 28px;
}
nav .mrgn-right {
  margin-right: auto;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0rem;
  font-family: "futura bold", Helvetica, sans-serif;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:not(.mrgn-right)::before, nav a::before {
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  background-color: transparent;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(0deg);
  transition: background-color 0.2s;
}
nav a:not(.mrgn-right)::after, nav a::after {
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  background-color: transparent;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(180deg);
  transition: background-color 0.2s;
}
nav a:not(.mrgn-right):hover::before, nav a:active::before {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #d86b32;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(0deg);
}
nav a:not(.mrgn-right):hover::after, nav a:active::after {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #d86b32;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(180deg);
}

@media (min-width: 480px) {
  nav .logo {
    height: 35px;
  }
  nav a {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  nav {
    height: 110px;
  }
  nav .mrgn-right {
    margin-right: auto;
  }
  nav .logo {
    height: 50px;
  }
  nav div {
    flex-grow: 0;
    width: 70%;
  }
  nav a:not(.mrgn-right) {
    padding: 0 2rem;
    font-size: 2.2rem;
  }
  nav a:not(.mrgn-right):before, nav a:not(.mrgn-right)::before {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(0deg);
  }
  nav a:not(.mrgn-right):after, nav a:not(.mrgn-right)::after {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(180deg);
  }
  nav a:not(.mrgn-right):hover::before, nav a:not(.mrgn-right):active::before {
    width: 2rem;
    height: 2rem;
    background-color: #d86b32;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(0deg);
  }
  nav a:not(.mrgn-right):hover::after, nav a:not(.mrgn-right):active::after {
    width: 2rem;
    height: 2rem;
    background-color: #d86b32;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(180deg);
  }
}
@media (min-width: 1024px) {
  nav .logo {
    height: 70px;
  }
  nav a {
    padding: 0 3rem;
    margin: 0 2rem;
    font-size: 2.5rem;
  }
}
.about {
  display: grid;
  grid-template-areas: "me";
}
.about .about-me {
  grid-area: me;
}
.about .about-me h2 {
  margin-bottom: 4rem;
}
.about .about-pic {
  display: none;
  grid-area: pic;
}
.about .about-pic .profile-pic {
  background-image: url(../img/ProfilePic.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .about {
    grid-template-areas: "me pic";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80%;
    min-height: calc(100vh - 110px);
  }
  .about .about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transform: translateY(12.5%);
  }
  .about .about-me p {
    font-size: 1.8rem;
  }
  .about .about-pic {
    display: flex;
    align-items: center;
    transform: translateY(12.5%);
  }
  .about .about-pic .profile-pic {
    width: 100%;
    height: 100%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media (min-width: 1024px) {
  .about {
    /* grid-template-areas:    "me pic";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80%;
    min-height: calc(100vh - 110px); */
    grid-auto-rows: auto;
    min-height: unset;
    max-height: 900px;
  }
  .about .about-me {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transform: translateY(12.5%); */
    transform: translateY(0);
  }
  .about .about-me p {
    font-size: 2.2rem;
  }
  .about .about-me h2 {
    margin-bottom: 4rem;
  }
  .about .about-pic {
    transform: translateY(0);
  }
}
@media (min-width: 1280px) {
  .about {
    max-height: none;
    min-height: calc(100vh - 110px);
  }
  .about .about-me p {
    font-size: 3rem;
  }
  .about .about-pic {
    transform: translateY(0);
  }
}
/* OLD ANIMATION FOR MAYBE FUTURE USECASES
------------------------------------------------------
------------------------------------------------------
.about{
    .animating-skills{
        .rotation{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }
        .pentagon{
            position: relative;
            margin: auto;
            width: 250px;
            height: 250px;
            top: -150%;
            transform-style: preserve-3d;
            transform: perspective(400px) rotateY(0deg) rotateX(90deg);
            animation: RotateParent3D 10s linear infinite;
            div{
                position: absolute;
                transform:  rotateX(-90deg) rotateY(0deg) translateY(100%);
                animation: RotateChild3D 10s linear infinite;
                img{
                    display: block;
                    margin: 0 auto;
                    max-height: 40px;
                    max-width: 40px;
                }
                h3{
                    font-weight: bold;
                    box-shadow: 0 0 50px $dark;
                }
            }
            div:nth-child(1){
                left: 40%;
                top: -10%;
            }
            div:nth-child(2){
                left: 82%;
                top: 26%;
            }
            div:nth-child(3){
                left: 66%;
                top: 90%;
            }
            div:nth-child(4){
                left: 19%;
                top: 90%;
            }
            div:nth-child(5){
                left: -18%;
                top: 26%;
            }
        }
    }
    @keyframes RotateParent3D {
        0%{
            transform: perspective(400px) rotateY(0deg) rotateX(90deg);

        }    
        100%{
            transform: perspective(400px) rotateY(360deg) rotateX(90deg);
        }
    }
    @keyframes RotateChild3D {
        0%{
            transform: rotateX(-90deg) rotateY(0deg) translateY(100%);
        }
        100%{
            transform: rotateX(-90deg) rotateY(-360deg) translateY(100%);
        }
    }

}
@media (min-width: $tablet){
    .about {
        .animating-skills .pentagon{
            width: 400px;
            height: 400px;
            top: -240%;
            div:nth-child(1){
                left: 45%;
                top: -6%;
            }
            div:nth-child(2){
                left: 88%;
                top: 32%;
            }
            div:nth-child(3){
                left: 66%;
                top: 93%;
            }
            div:nth-child(4){
                left: 19%;
                top: 93%;
            }
            div:nth-child(5){
                left: -11%;
                top: 32%;
            }
        }
    }
    .about{
        @keyframes RotateParent3D {
            0%{
                transform: perspective(500px) rotateY(0deg) rotateX(90deg);

            }    
            100%{
                transform: perspective(500px) rotateY(360deg) rotateX(90deg);
            }
        }
    }
}
@media (min-width: $desktop){
    .about {
        @keyframes RotateParent3D {
            0%{
                transform: perspective(700px) rotateY(0deg) rotateX(90deg);

            }    
            100%{
                transform: perspective(700px) rotateY(360deg) rotateX(90deg);
            }
        }
        .animating-skills .pentagon{
            width: 800px;
            height: 800px;
            top: -415%;
            div:nth-child(1){
                left: 48%;
                top: -3%;
            }
            div:nth-child(2){
                left: 94%;
                top: 32%;
            }
            div:nth-child(3){
                left: 72%;
                top: 96%;
            }
            div:nth-child(4){
                left: 19%;
                top: 96%;
            }
            div:nth-child(5){
                left: -5%;
                top: 32%;
            }
        }
    }
} */
.project-header {
  padding: 3rem 0 0 3rem;
}

.projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 90vh;
}
.projects .project-card {
  width: 100%;
  border-radius: 5px;
  margin: 4rem 0;
}
.projects .project-card a {
  color: white;
  text-decoration: none;
}
.projects .project-card a:hover img {
  opacity: 0.7;
}
.projects .project-card a:hover h3 {
  color: #d86b32;
}
.projects .project-card img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  transition: all 0.3s;
}
.projects .project-card h3 {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  transition: all 0.4s;
}
.projects .project-card p {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .projects {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .projects .project-card {
    width: 45%;
  }
  .projects .project-card h3 {
    font-size: 3rem;
  }
  .projects .project-card p {
    font-size: 2rem;
  }

  .project-header {
    padding: 4rem 0 0 4rem;
  }
}
@media (min-width: 1024px) {
  .projects .project-card {
    width: 30%;
  }
  .projects .project-card h3 {
    font-size: 3rem;
  }
  .projects .project-card p {
    font-size: 2rem;
  }

  .project-header {
    padding: 6rem 0 0 6rem;
  }
}
@media (min-width: 1280px) {
  .project-header {
    padding: 8rem 0 0 8rem;
  }
}
.contact {
  display: grid;
  grid-template-areas: "header" "intro" "form" "details";
}
.contact .contact-header {
  grid-area: header;
}
.contact .contact-header h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.contact .contact-intro {
  grid-area: intro;
}
.contact .contact-intro p {
  margin-bottom: 4rem;
}
.contact .contact-form {
  grid-area: form;
}
.contact .contact-form form {
  display: grid;
  grid-template-areas: "heading" "primary" "secondary" "send";
  border-radius: 15px;
  padding: 2rem;
  background-color: #171222;
  color: white;
  font-weight: bold;
}
.contact .contact-form form .heading {
  grid-area: heading;
}
.contact .contact-form form .heading h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.contact .contact-form form .primary {
  grid-area: primary;
}
.contact .contact-form form .secondary {
  grid-area: secondary;
}
.contact .contact-form form .send {
  grid-area: send;
  display: flex;
  justify-content: center;
}
.contact .contact-form form .send .btn {
  width: 80%;
}
.contact .contact-form form .grid-element div {
  display: flex;
  justify-content: center;
}
.contact .contact-form form .grid-element div:not(.last) {
  margin-bottom: 1.5rem;
}
.contact .contact-form form .grid-element div::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(0deg);
  transition: background-color 0.3s;
}
.contact .contact-form form .grid-element div::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(180deg);
  transition: background-color 0.3s;
}
.contact .contact-form form .grid-element div:focus-within::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: #d86b32;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(0deg);
}
.contact .contact-form form .grid-element div:focus-within::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: #d86b32;
  clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
  transform: rotate(180deg);
}
.contact .contact-form form .grid-element div input:not(.btn), .contact .contact-form form .grid-element div textarea {
  padding: 0 1rem;
  width: calc(100% - 4rem);
  height: 2rem;
  border: 2px solid white;
  border-radius: 0.7rem;
  background-color: #171222;
  color: white;
  transition: all 0.3s;
  font-family: "cutive mono";
}
.contact .contact-form form .grid-element div input:not(.btn):focus, .contact .contact-form form .grid-element div textarea:focus {
  border: 2px solid #d86b32;
  outline: none;
  box-shadow: 0 0 8px #d86b32;
}
.contact .contact-form form .grid-element div textarea {
  height: 8rem;
  width: calc(100% - 4rem);
  resize: none;
  padding: 1rem;
}
.contact .contact-form form .grid-element .last:focus-within::before, .contact .contact-form form .grid-element .last::before {
  transform: translateY(150%);
}
.contact .contact-form form .grid-element .last:focus-within::after, .contact .contact-form form .grid-element .last::after {
  transform: translateY(150%) rotate(180deg);
}
.contact .contact-form form .grid-element label {
  display: block;
  margin: 0.3rem 0;
  text-align: center;
}
.contact .contact-form form .grid-element input[type=submit] {
  margin-top: 3.5rem;
}
.contact .contact-details {
  grid-area: details;
  margin: 4rem 0;
}
.contact .contact-details address {
  text-align: center;
}

@media (min-width: 768px) {
  .contact {
    /* grid-template-areas:    "header"
                            "intro"
                            "form"
                            "details"; */
    grid-template-areas: "header ." "intro form" "details form";
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .contact .contact-intro {
    display: flex;
    align-items: center;
  }
  .contact .contact-intro p {
    font-size: 2rem;
    margin: 0;
  }
  .contact .contact-header {
    grid-area: header;
  }
  .contact .contact-header h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .contact .contact-form form {
    /* grid-template-areas:    "heading heading"
                            "primary secondary"
                            "send send";
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem; */
  }
  .contact .contact-form form .grid-element div::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(0deg);
  }
  .contact .contact-form form .grid-element div::after {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(180deg);
  }
  .contact .contact-form form .grid-element div:focus-within::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: #d86b32;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(0deg);
  }
  .contact .contact-form form .grid-element div:focus-within::after {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: #d86b32;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(180deg);
  }
  .contact .contact-form form .grid-element div input:not(.send) {
    height: 3rem;
    border-radius: 1.1rem;
  }
  .contact .contact-form form .grid-element div textarea {
    height: 16.2rem;
    border-radius: 1.1rem;
  }
  .contact .contact-form form .grid-element .last:focus-within::before, .contact .contact-form form .grid-element .last::before {
    content: "";
    transform: translateY(222%);
  }
  .contact .contact-form form .grid-element .last:focus-within::after, .contact .contact-form form .grid-element .last::after {
    content: "";
    transform: translateY(222%) rotate(180deg);
  }
  .contact .contact-form form .grid-element .last:focus-within::after input[type=submit], .contact .contact-form form .grid-element .last::after input[type=submit] {
    margin-top: 0rem;
  }
  .contact .contact-details {
    display: flex;
    align-items: flex-end;
  }
  .contact .contact-details address {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .contact {
    min-height: calc(100vh - 110px);
  }
  .contact .contact-intro {
    grid-area: intro;
  }
  .contact .contact-intro p {
    margin: 4rem 0;
    font-size: 2.7rem;
  }
  .contact .contact-form form .send .btn {
    width: 50%;
  }
  .contact .contact-form form .grid-element div::before {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(0deg);
  }
  .contact .contact-form form .grid-element div::after {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(180deg);
  }
  .contact .contact-form form .grid-element div:focus-within::before {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #d86b32;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(0deg);
  }
  .contact .contact-form form .grid-element div:focus-within::after {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #d86b32;
    clip-path: polygon(75% 0%, 25% 50%, 75% 100%, 50% 100%, 0% 50%, 50% 0%);
    transform: rotate(180deg);
  }
  .contact .contact-form form .grid-element div input:not(.send) {
    height: 4rem;
    border-radius: 1.3rem;
    font-size: 2rem;
  }
  .contact .contact-form form .grid-element div textarea {
    height: 18rem;
    font-size: 2rem;
    border-radius: 1.3rem;
  }
  .contact .contact-form form .grid-element .last:focus-within::before, .contact .contact-form form .grid-element .last::before {
    content: "";
    transform: translateY(170%);
  }
  .contact .contact-form form .grid-element .last:focus-within::after, .contact .contact-form form .grid-element .last::after {
    content: "";
    transform: translateY(170%) rotate(180deg);
  }
  .contact .contact-form form .grid-element .last:focus-within::after input[type=submit], .contact .contact-form form .grid-element .last::after input[type=submit] {
    margin-top: 0rem;
  }
  .contact .contact-form form .grid-element label {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  .contact .contact-details address {
    font-size: 1.8rem;
  }
}
footer {
  padding: 2rem;
  background-color: #d86b32;
}
footer a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  transition: all 0.3s;
}
footer a p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
footer a:hover, footer a:active {
  color: #171222;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
}
footer .footer-logo a {
  padding: 2rem;
}
footer .footer-logo img {
  height: 100px;
  width: auto;
}
footer .social-links {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  margin-bottom: 0;
}
footer .social-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
footer .social-links a p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
footer .social-links a:hover, footer .social-links a:active {
  color: #171222;
}
footer .footer-mail {
  display: flex;
  justify-content: center;
}
footer .footer-mail a {
  text-decoration: none;
  font-size: 1.2rem;
}

@media (min-width: 480px) {
  footer {
    padding-bottom: 4rem;
  }
  footer .footer-logo img {
    width: 50px;
    height: auto;
  }
}
@media (min-width: 768px) {
  footer {
    padding-bottom: 6rem;
  }
  footer .footer-logo {
    margin-bottom: 4rem;
  }
  footer .footer-logo img {
    width: 90px;
  }
  footer .social-links {
    justify-content: center;
  }
  footer .social-links a {
    padding: 4rem;
    font-size: 4rem;
  }
  footer .social-links a p {
    font-size: 1.6rem;
    margin-top: 0.7rem;
  }
  footer .footer-mail a {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  footer {
    padding-bottom: 8rem;
  }
  footer .footer-logo {
    margin-bottom: 6rem;
  }
  footer .social-links a p {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
