.contact{
    display: grid;
    grid-template-areas:    "header"
                            "intro"
                            "form"
                            "details";
    .contact-header{
        grid-area: header;
        h2{
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    .contact-intro{
        grid-area: intro;
        p{
            margin-bottom: 4rem;
        }
        
    }
    .contact-form{
        grid-area: form;
        form{
            display: grid;
            grid-template-areas:    "heading" 
                                    "primary"
                                    "secondary"
                                    "send";
            border-radius: 15px;
            padding: 2rem;
            background-color: $dark;
            color: $bright;
            font-weight: bold;
            .heading{
                grid-area: heading;
                h2{
                    text-align: center;
                    margin-bottom: 2rem;
                }
            }
            .primary{
                grid-area: primary;
            }
            .secondary{
                grid-area: secondary;
            }
            .send{
                grid-area: send;
                display: flex;
                justify-content: center;
                .btn{
                    width: 80%;
                }
            }
            .grid-element{
                div{
                    display: flex;
                    justify-content: center;
                    &:not(.last){
                        margin-bottom: 1.5rem;
                    }
                    &::before{
                        content: "";
                        @include CodeArrow($left, 2rem, transparent);
                        transition: background-color .3s;
                    }
                    &::after{
                        content: "";
                        @include CodeArrow($right, 2rem, transparent);
                        transition: background-color .3s;
                    }
                    &:focus-within::before{
                        content: "";
                        @include CodeArrow($left, 2rem, $orange);
                    }
                    &:focus-within::after{
                        content: "";
                        @include CodeArrow($right, 2rem, $orange);
                    }                    
                    input:not(.btn), textarea{
                        padding: 0 1rem;
                        width: calc(100% - 4rem);
                        height: 2rem;
                        border: 2px solid $bright;
                        border-radius: 1.1rem;
                        background-color: $dark;
                        color: $bright;
                        transition: all .3s;
                        &::placeholder{
                            font-family: "cutive mono";
                            color: $dark;
                            opacity: 0.8;
                        }
                        &:focus{
                            border: 2px solid $orange;
                            outline: none;
                            box-shadow: 0 0 8px $orange;
                        }
                    }
                    textarea{
                        height: 8rem;
                        width: calc(100% - 4rem);
                        resize: none;
                        padding: 1rem;
                    }  
                }
                .last:focus-within::before{
                   transform: translateY(150%);
                }
                .last:focus-within::after{
                    transform: translateY(150%) rotate($right);
                }
                label{
                    display: block;
                    margin: .3rem 0;
                    text-align: center
                }
                input[type="submit"]{
                    margin-top: 3.5rem;
                    
                }
            }
            
        }
    }
    .contact-details{
        grid-area: details;
        margin: 4rem 0;
        address{
            text-align: center;
        }
    }
    
}
@media (min-width: $tablet){
    .contact{
        /* grid-template-areas:    "header"
                                "intro"
                                "form"
                                "details"; */
        grid-template-areas:    "header ."
                                "intro form"
                                "details form";
        
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        .contact-intro{
            display: flex;
            align-items: center;
            p{
                font-size: 2rem;
                margin: 0;
            }
        }
        .contact-header{
            grid-area: header;
            h2{
                font-size: 3rem;
                text-align: center;
                margin-bottom: 3rem;
            }
        }
        .contact-form{
            form{
                /* grid-template-areas:    "heading heading"
                                        "primary secondary"
                                        "send send";
                grid-template-columns: 1fr 1.5fr;
                gap: 2rem; */
                .grid-element{
                    div{
                        &::before{
                            content: "";
                            @include CodeArrow($left, 3rem, transparent);
                        }
                        &::after{
                            content: "";
                            @include CodeArrow($right, 3rem, transparent);
                        }   
                        &:focus-within::before{
                            content: "";
                            @include CodeArrow($left, 3rem, $orange);
                        }
                        &:focus-within::after{
                            content: "";
                            @include CodeArrow($right, 3rem, $orange);
                        }    
                        input:not(.send){
                            height: 3rem;
                        }
                        textarea{
                            height: 16.2rem;
                        }
                    }
                    .last:focus-within::before{
                        content: "";
                        transform: translateY(222%);
                    }
                    .last:focus-within::after{
                        content: "";
                        transform: translateY(222%) rotate($right);
                        input[type="submit"]{
                            margin-top: 0rem;
                            
                        }
                    }
                }
            }
        }
        .contact-details{
            display: flex;
            align-items: center;
            address{
                text-align: left;
            }
        }
    }
}
@media (min-width: $desktop){
    .contact{
        .contact-intro{
            grid-area: intro;
            p{
                margin: 4rem 0;
            }
            
        }
        .contact-form form{
            .send{
                .btn{
                    width: 50%;
                }
            }
        }
    }
}
