footer{
    padding: 2rem;
    background-color: $orange;
    a{
        padding: 2rem;
        color: $bright;
        font-size: 3rem;
        transition: all .3s;
        &:hover, &:active{
            color: $dark;
        }
    }
    .footer-logo{
        display: block;
        width: fit-content;
        margin: 2rem auto;
        img{
            height: 40px;
            width: auto;
        }
    }
    .social-links{
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }
}
@media (min-width: $mobileL){
    footer{
        padding-bottom: 4rem;
        .footer-logo{
            img{
                width: 50px;
                height: auto;
            }
        }
    }
}
@media (min-width: $tablet){
    footer{
        padding-bottom: 6rem;
        .footer-logo{
            margin-bottom: 4rem;
            img{
                width: 90px;
            }
        }
    }
}
@media (min-width: $desktop){
    footer{
        padding-bottom: 8rem;
        .footer-logo{
            margin-bottom: 6rem;
        }
    }
}