@font-face {
    font-family: "futura bold";
    src: url(./../fonts/futura/Futura-Bold.ttf);
}
@font-face {
    font-family: "cutive mono";
    src: url(./../fonts/cutive-mono/CutiveMono-Regular.ttf);
}

body{
    font-size: 1.6rem;
    font-family: 'cutive mono', Courier, monospace;
    color: $bright;
    background-color: $dark;
}

.btn{
    /* height: 3rem; */
    padding: .5rem 1.5rem;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: $orange;
    border-radius: 5rem;
    color: $bright;
    font-family: "futura bold";
    font-size: 1.1rem;
    transition: all .25s;
    &:focus{
        box-shadow: 0 0 20px $bright;
        outline: none;
    }
    &:hover, &:active{
        box-shadow: 0 0 20px $orange;
        background-color: $dark;
    }
}

main{
    padding: 3rem;
    background-color: $dark;
}
h1,h2, h3, h4, label, .btn{
    font-family: "futura bold";
}
h2{
    font-size: 3rem;
}
.home{
    background-image: url("../img/Skizze.png");
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-position: 55px 60px;
    .btn{
        margin: 4rem 0;
        max-width: 70%;
    }
}
.header-home{
    padding: 6rem 0 0 3rem;
    h2{
        margin-bottom: 2.5rem;
        width: 50%;
        font-size: 3.5rem;
    }
    h1{
        width: 50%;
        font-size: 1.7rem;
    }
    strong{
        color: $orange;
    }
}
.main-home{
    padding-left: 3rem;
    background-color: unset;
    h3{
        width: 50%;
        font-size: 1.5rem;
    }
    .toolbox{
        position: relative;
        margin-top: 3rem;
        > img{
            width: 200px;
        }
        .box{
            display: none;
            position: absolute;
            width: 800px;
            height: 250px;
            bottom: 9px;
            left: 0%;
            .wall{
                position: relative;
                width: calc(100% - 60px);
                height: 100%;
                left: 30px;
                
                .wall-paint{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: $dark;
                    border-top: 2px solid $bright;
                    z-index: 3;
                }
                .tools{
                    /* position: absolute;
                    top: 0;
                    left: 0;
                    width: inherit; */
                    position: relative;
                    height: inherit;
                    div{
                        position: absolute;
                        top: -25%;
                        z-index: 2;
                        /* display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%; */
                        img{
                            display: block;
                            width: 80px;
                            height: auto;
                            margin: 0 auto 1rem;
                        }
                        h3{
                            width: 100%;
                            text-align: center;
                        }

                    }
                    #html{
                        left: 3%;
                    }
                    #js{
                        left: 17%;
                    }
                    #scss{
                        left: 46%;
                    }
                    #css{
                        left: 68%;
                    }
                    #bootstrap{
                        left: 79%;
                    }
                }
            }
        }
    }
}
@media (min-width: $mobileS){
    .home{
        background-size: 325px auto;
        background-position: 135px 60px;
        .main-home, .header-home{
            padding-left: 6rem;
        }
        h1, h2, h3{
            max-width: 50%;
        }
    }
}
@media (min-width: $mobileL){
    .home{
        background-size: 85% auto;
        background-position: 240% 60px;
        h3{
            font-size: 2rem;
        }
        /* h1, h2, h3{
            max-width: 50%;
        } */
        .header-home{
            padding-top: 12rem;
            h2{
                font-size: 4rem;
            }
            h1{
                font-size: 2.2rem;
            }
        }
        .btn{
            margin: 5rem 0;
            max-width: 58%;
        }
        .main-home .toolbox{
            display: block;
            margin: 6rem 0 0 4rem;
            > img{
                width: 300px;
            }
        }
    }
    .btn{
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
    
}
@media (min-width: $tablet){
    .home{
        background-size: 90% auto;
        background-position: 300% 110px;
        .main-home, .header-home{
            padding-left: 9rem;
        }
        h3{
            font-size: 2.5rem;
        }
        h2{
            max-width: 45%;
        }
        h1, h3{
            max-width: 35%;
        }
        .header-home{
            h2{
                font-size: 6rem;
            }
            h1{
                font-size: 3rem;
            }
        }
        .main-home .toolbox{
            display: block;
            margin: 6rem 0 0 4rem;
            > img{
                width: 400px;
            }
        }
    }
    .btn{
        font-size: 2rem;
    }
    h2{
        font-size: 4rem;
    }
    main{
        padding: 4rem;
    }
}
@media (min-width: $desktop){
    .home{
        background-size: 75% auto;
        background-position: 145% 110px;
        /* h1, h2, h3{
            max-width: 50%;
        } */
        .main-home, .header-home{
            padding-left: 11rem;
        }
        .header-home{
            padding-top: 15rem;
            h2{
                font-size: 8rem;
                margin-bottom: 4rem;
            }
            h1{
                font-size: 4rem;
            }
        }
        .btn{
            margin: 8rem 0;
        }
        h3{
            font-size: 3rem;
        }
        /* h2{
            max-width: 45%;
        }
        h1, h3{
            max-width: 35%;
        } */
        
        .main-home .toolbox{
            display: block;
            margin: 6rem 0 0 4rem;
            > img{
                width: 600px;
            }
        }
    }  
    .btn{
        font-size: 2.5rem;
        padding: 1.5rem 3rem;
    }
    h2{
        font-size: 5rem;
    }
    main{
        padding: 6rem;
    }
}
@media (min-width: $desktopM){
    .home{
        background-size: 63% auto;
        background-position: 130% 110px;
        /* h1, h2, h3{
            max-width: 50%;
        } */
        .main-home, .header-home{
            padding-left: 14rem;
        }
        .header-home{
            padding-top: 26rem;
            h2{
                font-size: 10rem;
            }
        }
        .btn{
            margin: 11rem 0;
        }
        
        .main-home .toolbox{
            display: block;
            margin: 6rem 0 0 4rem;
            > img{
                width: 800px;
            }
            .box{
                display: block;
                position: absolute;
                width: 800px;
                height: 250px;
                bottom: 9px;
                left: 0%;
                .wall{
                    position: relative;
                    width: calc(100% - 60px);
                    height: 100%;
                    left: 30px;
                    
                    .wall-paint{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: $dark;
                        border-top: 2px solid $bright;
                        z-index: 3;
                    }
                    .tools{
                        /* position: absolute;
                        top: 0;
                        left: 0;
                        width: inherit; */
                        position: relative;
                        height: inherit;
                        div{
                            position: absolute;
                            top: -25%;
                            z-index: 2;
                            /* display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%; */
                            img{
                                display: block;
                                width: 80px;
                                height: auto;
                                margin: 0 auto 1rem;
                            }
                            h3{
                                width: 100%;
                                text-align: center;
                            }
    
                        }
                        #html{
                            left: 3%;
                        }
                        #js{
                            left: 17%;
                        }
                        #scss{
                            left: 46%;
                        }
                        #css{
                            left: 68%;
                        }
                        #bootstrap{
                            left: 79%;
                        }
                    }
                }
            }
        }
    }  
    .btn{
        font-size: 3rem;
    }
    main{
        padding: 8rem;
    }
    h2{
        font-size: 7rem;
    }
}


