body{
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    color: $bright;
}

.btn{
    
}
main{
    padding: 2rem;
    background-color: $dark;
}

//Navigation
@import "nav";
//About me
@import "../about/_about.scss";
//Projects
@import "../projects/projects.scss";
//Contact me 
@import "../contact/contact";
//footer
@import "footer";