//IMPORTS AND VARIABLES
$tablet:480px;
$desktop:1024px;
$left:0deg;
$right:180deg;
$dark:black;
$bright:white;
$orange: coral;

//GENERAL STYLING
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    color: $bright;
}

.btn{
    
}
main{
    padding: 2rem;
    background-color: $dark;
}
@mixin CodeArrow($direction, $size) {
    width: $size;
    height: $size;
    background-color: $bright;
    clip-path: polygon(75% 0%,
        25% 50%, 
        75% 100%, 
        50% 100%, 
        0% 50%, 
        50% 0%);
    transform: rotate($direction);
}
//Navigation
@import "nav";
//projects
@import "projects";
//About me 
@import "contact";
//footer
@import "footer";